<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>明细记录</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="id" th:value="${obj?.id}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图书名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="dname" th:value="${obj?.dname}" lay-verify="required" placeholder="请输入图书名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图书编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="dnumber" th:value="${obj?.dnumber}" lay-verify="required" placeholder="请输入图书编码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="count" th:value="${obj?.count}" lay-verify="required" placeholder="请输入图书数量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="total" th:value="${obj?.total}" lay-verify="required" placeholder="请输入金额数量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">推荐人</label>
                        <div class="layui-input-block">
                            <input type="text" name="operator" th:value="${obj?.operator}" lay-verify="required" placeholder="请输入推荐人" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作时间</label>
                        <div class="layui-input-block">
                            <input type="text" readonly name="operatetime" id="operatetime" th:value="${obj?.operatetimeStr}" lay-verify="required" placeholder="请输入操作时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //支持日期控件
            laydate.render({
                elem: '#operatetime',
                trigger: 'click'
            });

            // //当前药品的值
            // var currentDname = '[[${obj?.dname}]]';
            // //获取供应商列表
            // $.ajax({
            //     url: '/druginfo/druginfoList',
            //     dataType:'json',
            //     type:'post',
            //     cache:false,
            //     success:function (data) {
            //         $('#dname').prepend("<option value=''>请选择</option>");
            //         for(var i=0;i<data.data.length;i++){
            //             if(data.data[i].name==currentDname){
            //                 $('#dname').append("<option selected value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
            //             }else{
            //                 $('#dname').append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
            //             }
            //         }
            //         form.render();          //下拉列表渲染，把内容加载进去
            //     }
            // });
        });
    </script>
</body>
</html>
















